body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center ;
    background-color: #f0f0f0;

}
.game-container {
    max-width: 600px;
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px black;
}
.color-grid
{
    display: grid;

}
.color-box {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 8px;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: transform 0.2s;
}